@font-face {
    font-family: 'Segoe UI';
    font-weight: 400;
    src: url('../fonts/SegoeUI.ttf') format('TrueType');
}
@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: url('../fonts/SegoeUI-Bold.ttf') format('TrueType');
}
@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: url('../fonts/SegoeUI-SemiBold.ttf') format('TrueType');
}
@font-face {
    font-family: 'Unbounded';
    font-weight: 400;
    src: url('../fonts/Unbounded-Regular.ttf') format('TrueType');
}
@font-face {
    font-family: 'Unbounded';
    font-weight: 700;
    src: url('../fonts/Unbounded-Bold.ttf') format('TrueType');
}
@font-face {
    font-family: 'Unbounded';
    font-weight: 800;
    src: url('../fonts/Unbounded-ExtraBold.ttf') format('TrueType');
}
@font-face {
    font-family: 'Unbounded';
    font-weight: 300;
    src: url('../fonts/Unbounded-Light.ttf') format('TrueType');
}
@font-face {
    font-family: 'Astrolab';
    font-weight: 400;
    src: url('../fonts/Astrolab.ttf') format('TrueType');
}

